<h2 class="page-title">Добавить пост</h2>
<br><br>
<a href="/admin_tenders" class="btn btn-primary">Показать все посты</a>
<br><br>

<form method="post" action="/admin_tenders/add-tender/" enctype="multipart/form-data">

    <div class="form-group">
        <label for="">Описание</label>
         <textarea name="content" id="ta" class="form-control" cols="30" rows="10" placeholder="content"><%= content %></textarea>
    </div>

    <button class="btn btn-default">Добавить</button>

          <% if (errors) {%>
              <% errors.forEach(function(error) { %>
              <div class="alert alert-danger">
                  <%= error.msg %>
              </div>
              <% });%>
          <% }%>
</form>
