<h2 class="page-title">Редактирование категории</h2>
<a href="/admin_category" class="btn btn-primary">Вернуться ко всем категориям</a>
<br><br>

<form method="post" action="/admin_category/edit-category/<%= id %>">

    <div class="form-group">
        <label for="">Название</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>

    <button class="btn btn-default">Сохранить</button>
</form>