<h2 class="page-title">Редактирование поста</h2>
<a href="/admin_tenders" class="btn btn-primary">Назад ко всем постам</a>
<br><br>

<form method="post" action="/admin_tenders/edit-tender/<%= id %>" enctype="multipart/form-data">

      <div class="form-group">
           <label for="">Content</label>
            <textarea name="content" id="ta" class="form-control" cols="30" rows="10" placeholder="content"><%= content %></textarea>
       </div>

    <button class="btn btn-default">Submit</button>
</form>
