<div className="row products">

    <% management.forEach(function(men){%>
    <div class="col-xs-12 col-md-4 p">
    <img class="pimage" src="/public/images/<%= men.image %>" alt="">
    </a>
    <h3><%= men.fullName %></h3>
 <h3><%= men.position %></h3>
    </div>
    <%}); %>

</div>