    <h3>Категории</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="/products">All products</a></li>
            <% categories.forEach(function(c){ %>
                <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
            <% }); %>
        </ul>
