   <div class="col-xs-12 col-md-3"> <h3>Посты</h3>
   <a href="https://mingas.by/">зщые</a>

                    <% posts.forEach(function(post){ %>
                     <div> <a target='_blank' href="<%=post.link %>"><%= post.link %></a>
                                                     <li class="list-group-item"><%= post.content %></li>
                                                      <img class="pimage" src="/public/images/<%= post.image %>" alt=""></div>
                    <% }); %>
               </div>
                 <div class="col-xs-12 col-md-1"></div>
                                <div class="col-xs-12 col-md-8">
