   <div> <h3>tenders</h3>

                    <% tenders.forEach(function(tender){ %>
                     <div>

                                                     <p ><%= tender.content %></p>
                                                    </div>
                    <% }); %>
               </div>
                 <div class="col-xs-12 col-md-1"></div>
                                <div class="col-xs-12 col-md-8">
