section {
  width: 90%;
  margin: 0 auto !important;
}
button.btn {
  border: 1px solid red;
  color: black;
}
button.btn:hover {
  border: 1px solid red;
  color: black;
}

img.pimage {
  width: 100px;
}
div.row {
  margin-right: 0;
  margin-left: 0;
}
img.img {
  width: 70%;
}
ul.list-without-dots {
  list-style-type: none; /* Remove bullets */
}
